<div ng-controller="ChatCtrl">

         <table style="margin: 40px 40px">
             <tr>
                 <td> Nick:</td>
                 <td><input  class="form-control"  ng-model="user.name"></td>
             </tr>
             <tr>
                 <td>Wiadomość:</td>
                 <td> <textarea ng-model="user.text" class="form-control" rows="3"></textarea></td>

             </tr>
             <tr>
                 <td>

                 </td>
                 <td>
                     <button ng-click="add()">  Dodaj  </button>
                 </td>
             </tr>
         </table>

    <ul ng-repeat="user in users">
        <div ng-class-odd="'alert alert-success'" ng-class-even="'alert alert-info'" style="width: 500px;" >
                <strong>{{user.name}} </strong>
                <p>{{user.text}}</p>
            </div>

    </ul>

</div>

