<!DOCTYPE html>
<html ng-app>
<head>
    <title>Page 2</title>
    <link href="../css/bootstrap.css" rel="stylesheet" media="screen">
    <script src="../js/libs/angular.js"></script>
    <script src="../js/controllers.js"></script>
    <script src="../js/libs/bootstrap.js"></script>
</head>
<body ng-controller="MessageListCtrl">

<!-- menu -->
<div class="navbar" style="background-color: #bce8f1; color: #000000">
    <ul class="nav navbar-nav" >
        <li ><a href="../index.html">Powiadomienia</a></li>
        <li class="active"><a href="page1.html">Link1</a></li>
        <li ><a href="page2.html">Link2</a></li>
    </ul>
</div>


<div >
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad culpa dolorem dolorum excepturi ipsam ipsum iusto omnis quod rem veritatis. Ab alias at deleniti esse id nulla odit similique tenetur.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad culpa dolorem dolorum excepturi ipsam ipsum iusto omnis quod rem veritatis. Ab alias at deleniti esse id nulla odit similique tenetur.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad culpa dolorem dolorum excepturi ipsam ipsum iusto omnis quod rem veritatis. Ab alias at deleniti esse id nulla odit similique tenetur.</p>
</div>


</body>
</html>

