.chat-div{
    bottom: 0;
    position: fixed;
    right: 150px;
    width: 200px;
    display: block;
    margin:0px;
    padding:0px;
}

.chat-label{
    display: none;
    background-color: #e5e5e5;
    border: 1px solid #c1c1c1;
    margin: 0px;
    padding: 10px 10px 10px 10px;
    width: 178px;
    font-family:"Segoe UI";
    font-size: 10px;
    font-weight: bold;
    color: #0D6E10;
}

.userLink {
    margin-top: 5px;
    margin-bottom:5px;
}

    .userLink a {
        color: #0D6E10;
        outline: none;
        padding-left: 18px;
        padding-right: 0px;
        text-decoration: none;
        cursor: pointer;
    }

        .userLink a:hover {
            background-color: #e5e5e5;
            color: #333;
        }

.chat-btn{
    color: #ffffff;
    background-color: #0D6E10;
    height: 30px;
    width: 200px;
    border: 1px solid #1B761D;
    padding: 5px 5px;
    cursor: pointer;
    margin: 5px 0px 0px 0px;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    font-family: 'Segoe UI';
    text-align: left !important;
    font-weight:bold !important;
}

    .chat-btn:focus {
        box-shadow: 0px 0px 10px #c1c1c1 !important;
        outline: 0px solid white;
    }

    .chat-btn-text {
        font-size: 12px;
        margin-left: 20px;
    }

    .chat-btn-counter {
        font-size: 9px;
        margin-left: 5px;
    }

.chat-icon {
    width: 16px;
    height: 16px;
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
    position:absolute; 
}

    .chat-white-icon {
        background-image: url(images/whiteIcons.png);
    }

    .chat-green-icon {
        background-image: url(images/greenIcons.png);
    }

    .chat-red-icon {
        background-image: url(images/redIcons.png);
    }

    .chat-icon-triangle {
        margin-left:3px;
        background-position: 0px -16px;
        font-size: 18px;
    }

    .chat-icon-iks {
        background-position: -32px -192px;
        right: 5px;
        top: 5px;
    }

    .chat-icon-bullet {
        background-position: -80px -146px;
        font-size: 10px;
    }

.chat-window {
    background-color:#E5E5E5;
    border: 1px solid #c1c1c1;
    position: absolute;
    width: 322px;
    height: 360px;
    z-index: 1000000;
    padding: 0px 0px 0px 0px;
    margin: 10px 10px 10px 10px;
}

    .chat-window-top {
        z-index:1000002;
        box-shadow: 0px 0px 25px  #c1c1c1;
    }

    .chat-window-bottom {
        z-index:1000001;
        box-shadow: none;
    }

.chat-header {   
    height: 25px;
    width:322px;
    margin: 0px 0px 0px 0px; 
    cursor:pointer;
}

    .chat-header-top {
        background-color: #0D6E10;
    }

    .chat-header-bottom {
        background-color: #CCCCCC;
    }

    .chat-header-name {    
        font-family: 'Segoe UI';
        font-size: 13px;
        height: 25px;
        width: 305px;
        padding:4px 15px;
        margin: 0px 0px 0px 0px;
    }

        .chat-header-name-span1 {
            color: #56BE38;
        }

        .chat-header-name-span2 {  
            color: #ffffff;
            margin-left: 2px;
        }

    .chat-header-close {
        cursor:pointer;  
        float:right;
        width:16px;
        height:16px;
        text-align: center;
        margin: 0px 0px 0px 0px;
        right: 5px;
        top: 5px;
    }

.chat-messages-area {
    background-color: #FFFFFF;
    font-family: 'Segoe UI';
    font-size: 10px;
    color: #000000; 
    overflow-y: scroll;
    overflow-x:hidden;
    width:310px;  
    height:175px;
    margin: 5px 5px 0px;
    padding: 0px 0px 0px 0px;
    border: 1px solid #c1c1c1;
}

    .chat-messages-area-message {
     margin: 10px 10px 10px;
    }

        .chat-messages-area-span1 {
            font-size: 9px;
            color: #0D6E10;
            font-weight: bold;
        }

        .chat-messages-area-span2 {
            font-size: 10px;
            color: black;
            margin-left:5px;
    }
        .chat-messages-area-logout {
            font-size: 10px;
            color: black;
            margin-left:5px;
            font-weight: bold;
            
    }

.chat-message {
    width:322px; 
    margin: 0px 0px; 
    height: 112px;
}

    .chat-message textarea {
        resize: none;
        width:300px;  
        padding: 5px 5px;
        margin: 5px 5px;
        font-family: 'Segoe UI' !important;
        font-size: 12px !important;
        height: 95px;
        overflow-y: no-display;
        border: 1px solid #c1c1c1;
}

        .chat-message textarea:focus {
            box-shadow: 0px 0px 10px  #c1c1c1 !important;
            outline: 0px solid white;
        }

.chat-send {
    height: 40px;
    width:322px; 
    margin: 5px 0px;
    padding: 0px 5px;
}

    .chat-send-btn  {
        background-color:  #9B9B9B !important;
        font-family: 'Segoe UI' !important;
        font-size: 12px !important;
        font-weight: 200 !important;
        color:white !important;
        height: 30px !important;
        width: 75px !important; 
        border: 1px solid white !important;
        padding: 0px !important;
    }

        .chat-send-btn:focus {
            box-shadow: 0px 0px 10px  #c1c1c1 !important;
            outline: 0px solid white; 
        }


