.chat-div{
bottom: 0;
position: fixed;
right: 0px;
width: 200px;
display: block;
}


.chat-label{
display: none;
background-color: #e5e5e5;
margin: 0px;
padding: 10px 10px 10px 10px;
width: 200px;
font-family:"Segoe UI";
font-size: 11.844px;
font-weight: bold;
line-height: 14px;
color: #0D6E10;
}


.userLink {
    margin-top: 5px;
}

.userLink a {
color: #0D6E10;
outline: none;
padding-left: 20px;
padding-right: 0px;
text-decoration: none;
cursor: pointer;
}
.userLink a:hover {
background-color: #c7d1d6;
color: #333;
}

.chat-btn{
color: #ffffff;
background-color: #0D6E10;
height: 30px;
width: 200px;
border: 1px solid #1B761D;
padding: 5px 5px;
font-size: 14px;
text-align: center;
vertical-align: middle;
cursor: pointer;
margin: 0;
letter-spacing: normal;
word-spacing: normal;
text-transform: none;
text-indent: 0px;
font: -webkit-small-control;
}

.chat-icon {
width: 16px;
height: 16px;
display: block;
text-indent: -99999px;
overflow: hidden;
background-repeat: no-repeat;
position:absolute; 
}

.chat-white-icon {
    background-image: url(images/whiteIcons.png);
}

.chat-green-icon {
    background-image: url(images/greenIcons.png);
}

.chat-red-icon {
    background-image: url(images/redIcons.png);
}

.chat-icon-triangle {
    margin-left:20px;
    background-position: -64px -16px;
}

.chat-icon-iks {
  background-position: -32px -192px;
}

.chat-icon-bullet {
    background-position: -80px -144px;
}

.chat-window {
    background-color:#E5E5E5;
    border: 2px solid #9B9B9B;
    position: absolute;
    width: 350px;
    height: 370px;
    z-index: 1;
    padding: 0px 0px 0px 0px;
    margin: 10px 10px 10px 10px;
}

.chat-header {
    background-color: #0D6E10;
    height: 30px;
    width:350px;
    margin: 0px 0px 0px 0px; 
}

.chat-header-name {    
    font-family: 'Segoe UI';
    font-size: 15px;
    color: #ffffff;
    height: 30px;
    width: 320px;
    padding:5px 20px;
    margin: 0px 0px 0px 0px;
}

.chat-header-close {
    cursor:pointer;  
    float:right;
    width:16px;
    height:30px;
    text-align: center;
    margin: 0px 0px 0px 0px;
}

.chat-messages-area {
    background-color: #FFFFFF;
    color: #000000; 
    overflow-y: scroll;
    width:340px;  
    height:200px; 
    margin: 5px 5px 0px;
    padding: 0px 0px 0px 0px;
}

.chat-message {
    width:340px; 
    margin: 0px 0px; 
    height: 75px;
}

.chat-message textarea {
    resize: none;
    width:340px;  
    padding: 0px 0px;
    margin: 5px 5px;
    }

.chat-send {
    height: 40px;
    width:350px; 

    margin: 0px 0px;
}

.chat-send-btn {
    width: 30px;
    background-color: #f49124;
    margin: 5px 5px;
}


