.chat-window {
    background-color:#E5E5E5;
    border: 2px solid #9B9B9B;
    position: absolute;
    width: 370px;
    z-index: 1;
    padding: 2px 2px 2px 2px;
}

.chat-header {
    background-color: #0D6E10;
    font-family: 'Segoe UI';
    color: #FFFFFF;
    height: 20px;
}

.chat-close {

    cursor:pointer;
    background-image: url("images/closeChat.png");
    float:right;

}

.chat-messages-area {
    background-color: #FFFFFF;
    color: #000000; 
    overflow-y: scroll;
}

.chat-message {
    padding: 4px; 
}

.chat-send-btn {
    margin-left: 4px;
    width: 60px;
    background-color: #f49124;

}

