<h1><center> Powiadomienia </center> </h1>        

<div class="container" >
            <div class="row">
               
                    <div class="span3">
                        <h3>Dostępni użytkownicy</h3>

                        <div class="input-group">
                            <span class="input-group-addon">
                                <input type="checkbox" />Emil <br />
                                <input type="checkbox" />Kamila <br />
                                <input type="checkbox" />Anna <br />
                                <input type="checkbox" />Zygmunt <br />
                            </span>
                        </div>
                    </div>
                    <div class="span6">
                        <h3>Wysyłanie powiadomienia</h3>
                        <textarea class="form-control" rows="3"></textarea>
                        <br />
                        <button type="button" class="btn btn-default"> Wyślij</button>
                    </div>
                </div>
</div>
          
<div style="height: 100px;"></div>

<div class="container">
    <div class="row">
        <div class="span6">
            <h3>Historia otrzymanych powiadomień</h3>
            <ul id="receivedNotice"></ul>
        </div>
        <div class="span6">
            <h3>Historia wysłanych powiadomień</h3>
            <ul id="sendNotice"></ul>
        </div>
    </div>

    <div style="position: fixed; right: 20px; bottom: 0; ">

        <button class="btn btn-success" type="button"> Chat(5) </button>
    </div>

</div>
