@{
    Layout = null;
}

<!DOCTYPE html>
<html ng-app="notifications" class="no-js">

<head>
    <title>@ViewBag.Title </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-responsive.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/jquery.pnotify.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/jquery.pnotify.icons.css" rel="stylesheet" type="text/css" />
</head>

<body>
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>

</html>

