<div style="margin: 10px 30px;">
    <h1><center>Powiadomienia</center></h1>
    <div class="row">
        <article class="col-lg-3 ">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur doloribus harum
            incidunt, maiores nemo recusandae reprehenderit tempore? Accusamus, amet commodi corporis debitis delectus
            dolores est fuga fugit incidunt mollitia nam nihil numquam obcaecati qui ratione sed unde! Aperiam blanditiis
            cum cumque distinctio doloribus, earum expedita illo labore laboriosam maxime neque nesciunt nostrum provident,
            quas quis repellendus, sapiente sequi! Accusantium aspernatur atque consequatur debitis dolorem, impedit in ipsa
            laborum magnam magni nemo perspiciatis praesentium quibusdam, quis repudiandae unde vel voluptas. Cumque debitis
            deleniti dignissimos eius esse expedita hic modi necessitatibus nobis odio officiis quae quod reiciendis
            repellendus, tempore tenetur ullam.
        </article>
        <article class="col-lg-3">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur doloribus harum
            incidunt, maiores nemo recusandae reprehenderit tempore? Accusamus, amet commodi corporis debitis delectus
            dolores est fuga fugit incidunt mollitia nam nihil numquam obcaecati qui ratione sed unde! Aperiam blanditiis
            cum cumque distinctio doloribus, earum expedita illo labore laboriosam maxime neque nesciunt nostrum provident,
            quas quis repellendus, sapiente sequi! Accusantium aspernatur atque consequatur debitis dolorem, impedit in ipsa
            laborum magnam magni nemo perspiciatis praesentium quibusdam, quis repudiandae unde vel voluptas. Cumque debitis
            deleniti dignissimos eius esse expedita hic modi necessitatibus nobis odio officiis quae quod reiciendis
            repellendus, tempore tenetur ullam.
        </article>
        <article class="col-lg-3">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur doloribus harum
            incidunt, maiores nemo recusandae reprehenderit tempore? Accusamus, amet commodi corporis debitis delectus
            dolores est fuga fugit incidunt mollitia nam nihil numquam obcaecati qui ratione sed unde! Aperiam blanditiis
            cum cumque distinctio doloribus, earum expedita illo labore laboriosam maxime neque nesciunt nostrum provident,
            quas quis repellendus, sapiente sequi! Accusantium aspernatur atque consequatur debitis dolorem, impedit in ipsa
            laborum magnam magni nemo perspiciatis praesentium quibusdam, quis repudiandae unde vel voluptas. Cumque debitis
            deleniti dignissimos eius esse expedita hic modi necessitatibus nobis odio officiis quae quod reiciendis
            repellendus, tempore tenetur ullam.
        </article>
        <article class="col-lg-3">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur doloribus harum
            incidunt, maiores nemo recusandae reprehenderit tempore? Accusamus, amet commodi corporis debitis delectus
            dolores est fuga fugit incidunt mollitia nam nihil numquam obcaecati qui ratione sed unde! Aperiam blanditiis
            cum cumque distinctio doloribus, earum expedita illo labore laboriosam maxime neque nesciunt nostrum provident,
            quas quis repellendus, sapiente sequi! Accusantium aspernatur atque consequatur debitis dolorem, impedit in ipsa
            laborum magnam magni nemo perspiciatis praesentium quibusdam, quis repudiandae unde vel voluptas. Cumque debitis
            deleniti dignissimos eius esse expedita hic modi necessitatibus nobis odio officiis quae quod reiciendis
            repellendus, tempore tenetur ullam.
        </article>
    </div>
</div>