<h1><center>Logowanie</center></h1>


<table style="margin: 40px 40px">
    <tr>


        <td>Nazwa użytkownika:</td>
        <td><input type="text" class="form-control" ng-model="user.name"></td>
    </tr>
    <tr>
        <td>Nr pracownika:</td>
        <td><input type="text" ng-model="user.id" class="form-control"/></td>
    </tr>
    <tr>
        <td></td>
        <td>
            <a href="#!/powiadomienia"><button type="button" class="btn btn-default"  ng-click="login()">  Zaloguj  </button></a>
</td>
    </tr>


</table>