

<div>
    <ul ng-repeat="m in messages">

        <div ng-class-odd="'alert alert-success'" ng-class-even="'alert alert-info'" style="width: 500px;">

            <strong>{{m.name}} </strong>
            <p>{{m.message}}</p>

        </div>

    </ul>
</div>