
.draggable
{
    position: absolute;
    background-color: #f89406;
    width: 250px;
}

    .draggable .header
    {
        cursor: move;
        background-color: #945f0c;
        height: 15px;
        color: #ffffff;
        padding: 5px 5px;        
    }

    .draggable .messageArea
    {
        width: 250px;
        overflow-y: scroll;
        height: 200px;
        border-bottom: #5f9482 solid 1px;
         font-weight:normal;
            text-shadow:none;
    }

        .draggable .messageArea .message
        {
            padding: 4px;
           
        }

    .draggable .buttonBar
    {
        width: 250px;
       padding:4px;
    }

        .draggable .buttonBar .msgText
        {
            width: 172px;
            margin-bottom:0px;
        }

        .draggable .buttonBar .button
        {
           margin-left:4px;
            width: 55px;
        }
