.draggable
{
    position: absolute;
    background-color: #f89406;
    width: 350px;
    z-index:1;
    
}

    .draggable .header
    {
        background-color: #945f0c;
        height: 15px;
        color: #ffffff;
        padding: 5px 5px;        
    }

    .draggable .messageArea
    {
        width: 350px;
        overflow-y: scroll;
        height: 200px;
        border-bottom: #5f9482 solid 1px;
        font-weight:normal;
        text-shadow:none;
    }

        .draggable .messageArea .message
        {
            padding: 4px;        
        }

    .draggable .buttonBar
    {
        width: 350px;
       padding:4px;
    }

        .draggable .buttonBar .msgText
        {
            width: 272px;
            margin-bottom:0px;
        }

        .draggable .buttonBar .button
        {
           margin-left:4px;
            width: 55px;
        }

.top {
    z-index: 2;
}
.bottom {
    z-index: 1;
}