@{
    ViewBag.Title = "Login";
}


<h2>Login</h2>
@Html.ActionLink("Login with Facebook", "Facebook")
@Html.ActionLink("Login with Google+", "Google")
@Html.ActionLink("Login with Twitter", "Twitter")