<div class="alert alert-warning" style="margin: 50px 50px 50px 50px;">
    <h1><center>Logowanie</center></h1>
    <table style="margin: 40px 40px">
        <tr>
            <td><h5>Nazwa użytkownika:</h5></td>
            <td><input id="nazwa" type="text" class="form-control" ng-model="user.name"></td>
        </tr>
        <tr>
            <td><h5>Nr pracownika:</h5></td>
            <td><input type="text" ng-model="user.id" class="form-control" /></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <center>
                    <a href="#!/powiadomienia">
                        <button type="button" class="btn btn-warning" ng-click="login()"> Zaloguj </button>
                    </a> 
                </center>
            </td>
        </tr>
    </table>
</div>